*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(150deg,green,yellow);
   
}
.container{
margin:100px auto;
width: 90%;
max-width: 500px;

}
.Notes{
    width: 90%;
    max-width:300px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.Notes img {
    width: 40px;
    height: 40px;
    filter: drop-shadow(8px 8px 8px);

}
.Notes h1{
    color: white;
    margin-left: 10px;
    font-size: 40px;
}
#create-btn{
    padding: 12px 30px;
    background: linear-gradient(rgb(5, 82, 5),rgb(35, 186, 40));
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    color: white;
    font-size: 15px;
    font-weight:bold;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: white;
    margin: 20px 0px;
    padding: 20px;
    color: black;
    outline: none;
    border-radius: 5px;

}
.input-box img{
    height: 16px;
    width: 16px;
    right: 15px;
    bottom: 15px;
    position: absolute;
    cursor: pointer;
}

